---

---

<div class="welcome">
	<div class="moto">More with less...</div>
	<div class="geometry-container">
		<img src="src/assets/Ipad.png" alt="Stats" class="landing-stats" />
		<div class="geometry-shape"></div>
	</div>
</div>

<style>
	.welcome {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 40px;
		padding: 20px 40px;
	}

	.moto {
		font-family: font1;
		font-weight: bold;
		font-size: var(--font-size-landing);
		color: var(--text-headline);
		margin-bottom: 50px;
	}

	.geometry-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;
	}

	.landing-stats {
		width: 70%;
		z-index: 2;
	}

	.geometry-shape {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 70%;
		border-radius: 30px;
		background-color: var(--accent3);
		z-index: 1;
	}
</style>
