<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: font1;
		src: url('../assets/fonts/Crimson_Text/CrimsonText-Regular.ttf');
	}
	@font-face {
		font-family: font4;
		src: url('../assets/fonts/DM_Sans/static/DMSans-Bold.ttf');
		font-weight: bold;
	}
	@font-face {
		font-family: font3;
		src: url('../assets/fonts/Crimson_Text/CrimsonText-SemiBold.ttf');
		font-weight: lighter;
	}
	@font-face {
		font-family: font2;
		src: url('../assets/fonts/DM_Sans/static/DMSans-Regular.ttf');
	}

	:root {
		/* Color Palette */
		--background: #ffffff;

		/* Text Colors */
		--text-paragraph: #6f6f6f;
		--text-headline: #000000;
		--text-on-accent: #ffffff;

		--divider-color: #e0e0e0;

		/* Accent Colors */
		--accent1: #485c11;
		--accent2: #dfecc6;
		--accent3: #8e9c78;
		--accent4: #000000;
		--accent5: #e4e4e4;
		--accent6: #929292;

		--debug-highlight: #ff0000;

		/* Fonts-size */
		--font-size-landing: 90px;
		--font-size-heading: 54px;
		--font-size-subheading: 18px;
		--font-size-paragraph: 15px;
		--font-size-button: 14px;



	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--background);
	}
</style>
